# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/backend.tf
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

# Node
node_modules/
acceptance/node_modules/
app/node_modules/
acceptance/playwright-report/
acceptance/test-results/

# Next.js
app/.next/
app/out/

# Docker
*.tar

# Secrets / environment files
.env
.env.local
.env.*.local
*.pem

# OS
.DS_Store
Thumbs.db

# Screenshots generated at test runtime
acceptance/screenshots/*.png
acceptance/screenshots/*.jpg
